@model IEnumerable<FinalProject.ViewModels.AllDoctorsViewModel>

@{
    ViewData["Title"] = "AllDoctors";
    Layout = @ViewBag.Layout;
    // Layout = "_AdminLayout";
}
<style>
    .table:hover {
        flex: 0 0 calc(33.333% - 20px);
        background: linear-gradient(to right, #e6f0ff, #ccdfff, #b3cfff);
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        padding: 20px;
        transition: transform 0.3s ease;
    }
</style>
@if(ViewBag.Layout=="_DoctorLayout")
{
        <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a style="text-decoration:none" asp-action="DoctorIndex" asp-controller="Dashboard">Dashboard</a></li>
            <li class="breadcrumb-item active" aria-current="page">Doctors</li>
        </ol>
    </nav>


        }

        else
        {
    <a class="btn btn-primary btn-lg" role="button" asp-action="CreateDoctorAccount" asp-controller="Account">
                <i class="bi bi-person-add"></i>
                Add new Doctor

            </a>

            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">

                    <li class="breadcrumb-item"><a style="text-decoration:none" asp-action="AdminIndex" asp-controller="Dashboard">Dashboard</a></li>
            <li class="breadcrumb-item active" aria-current="page">Doctors</li>
        </ol>
    </nav>

        }
        


<div class="card border-primary mb-3" style="width:100%; max-height: 20rem; border:none">

    <div class="card-body">
        <h2 class="card-title">All Doctors</h2>
    </div>
</div>

<table class="table table-hover">
    <thead>
        <tr class="table-primary">
            <th scope="row">Id</th>
            <td> Name</td>
            <td>Phone Number</td>
            <td>Email</td>
            <td>Shift start Time</td>
            <td>Shift End Time</td>
            <td>Department</td>
            <td>Actions</td>

        </tr>
    </thead>

    <tbody>
        @foreach (var doctor in Model)
        {
            <tr>

                <td scope="row">
                    @Html.DisplayFor(modelItem => doctor.Id)
                </td>
                
                <td>
                    @Html.DisplayFor(modelItem => doctor.Name)
                </td>
              
                <td>
                    @Html.DisplayFor(modelItem => doctor.PhoneNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => doctor.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => doctor.ShiftStartTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => doctor.ShiftEndTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => doctor.Department)
                </td>
                <td>
                   <a asp-action="DoctorDetails" asp-controller="Doctor" asp-route-id="@doctor.Id">
                       <i class="bi bi-eye"></i>
                       </a>
                </td>
             
            </tr>

}

       </tbody>
</table>

